[submodule "omniedge-cli"]
	path = omniedge-cli
	url = https://github.com/omniedgeio/omniedge-cli.git
	branch = main
[submodule "docker-customize-supernode"]
	path = docker-customize-supernode
	url = https://github.com/omniedgeio/docker-customize-supernode.git
	branch = main
[submodule "omniedge-synology"]
	path = omniedge-synology
	url = https://github.com/omniedgeio/omniedge-synology.git
[submodule "omniedge-github-action"]
	path = omniedge-github-action
	url = https://github.com/omniedgeio/github-action.git
[submodule "omniedge-supernode-status"]
	path = omniedge-supernode-status
	url = https://github.com/omniedgeio/server-status.git
[submodule "Documentation"]
	path = Documentation
	url = https://github.com/omniedgeio/docs.git
[submodule "omniedge-docker"]
	path = omniedge-docker
	url = https://github.com/omniedgeio/omniedge-docker.git
